# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Mary Ehlers <ehlers@cpan.org> <regina.verb.ae@gmail.com>
Mary Ehlers <ehlers@cpan.org> <regina.verbae@gmail.com>
Mary Ehlers <ehlers@cpan.org> <regina-verbae@users.noreply.github.com>
Mary Ehlers <ehlers@cpan.org> <ec2-user@ip-172-31-49-38.ec2.internal>
